{% meta {
    "isChildOnly": true,
    "defaults": {
        "attributes": "",
        "slot": "Button",
        "complex": {
            "human": {
                "name": "Anne",
                "age": 25,
                "isOnline": false
            }
        },
        "overrideDefault": false
    }
} %}
<button class="px-4 py-2 self-start text-sm whitespace-nowrap font-medium text-white bg-[#c70f19] border-bottom-[#980b13] hover:bg-[#df111c] hover:border-bottom-[#800a10] rounded-md shadow uppercase"
        {{ attributes }}>
    {{ slot }}{% if slot == 'Button' %}!{% endif %}

    {% if complex.human %}
        <span>Welcome</span>
    {% endif %}

    {% if overrideDefault %}
        Override
    {%endif%}

    {% if complex.human.isOnline %}
        <span>Online</span>
    {% endif %}

    {% if complex.human.name == 'Anne' %}
        <span>{{ complex.human.name }}</span>
    {% endif %}
    {% if complex.human.age < '25' %}
        <span>{{ complex.human.age }}</span>
    {% elsif complex.human.age == '25' %}
        <span>Cool</span>
    {% else %}
        <span>Not cool</span>
    {% endif %}

    {% unless complex.human.name %}
        <span>Wont Show</span>
    {% endunless %}
</button>
